body {
    background-color: #f0f0f3;
    font-family: 'Exo 2', sans-serif;
    /* font-family: "Monomakh", sans-serif; */
    /* font-family: "Tourney", sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}



  